@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdfdff;
  --foreground: #111119;
}

body {
  color: var(--foreground);
  background: #fdfdff;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
